.container {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  box-sizing: border-box;

}

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  border: 1px solid rgb(0, 0, 0);
}

.box {
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  width: 5 px;
  text-align: center;
  font-size: 5px;
  flex: 1;
  border-radius: 30px;
}
img {
  padding: 20px;
  margin: 0px;
  width: 10 px;
  text-align: right;
  font-size: 20px;
  flex: 1;
  border-radius: 30px;
  color: #ffffff;
}
.h2´ {
  flex: 1;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
.item {
  padding: 20px;
}

.navbar {
  display: flex;
  background-color: #000000;
  justify-content: space-around;
}
.navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.icono-box {
  display: flex;

  padding: 5px;
  margin: 20px;
  text-align: center;
  font-size: 5px;
  flex: 1;
  border-radius: 30px;
}

.icono {
  width: 30px;
  background-color: #ffffff;
}
.stiky {
  position: sticky;
  top: 0;
  width: 0;
}
